{% extends "base.html" %}
{% block title %}Add New Book{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow border border-dark border-2">
            <div class="card-header bg-success text-white text-center">
                <h4 class="mb-0">Add New Book</h4>
                
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Book Title *</label>
                        <input type="text" name="title" class="form-control border-dark" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Author *</label>
                        <input type="text" name="author" class="form-control border-dark" required>
                    </div>
                    
                    <div class="d-flex gap-2">
                        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-success">Add Book</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}